@media (max-width: 1000px) {
  footer {
    .footerFlexContainer {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
      .logo {
        margin: 0 0 30px 0;
      }
    }
    .footerNav {
      width: 80%;
      nav {
        ul {
          width: auto;
        }
      }
    }
  }

  // contact page

  .mapContainer {
    width: 45%;
  }

  .formContainer {
    width: 55%;
    .contactForm {
      width: calc(100% - 50px);
      margin-left: 50px;
    }
  }
}

@media (max-width: 500px) {
  // responsive navbar
  .navBar {
    .wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      .logo {
        margin: 0;
      }
      :nth-child(1) {
        align-self: flex-start;
      }
    }
  }

  // header section
  header {
    flex-direction: column;
    .headerImgContainer {
      width: 100%;
    }
    .headerContent {
      width: 90%;
      padding: 3rem 0;
      .contentContainer {
        width: 100%;
      }
    }
  }

  //categories section
  .categoryGallery {
    flex-direction: column;
    .items {
      width: 100%;
      margin: 50px 0 25px;
    }
  }

  //footer section

  footer {
    .footerFlexContainer {
      flex-direction: column;
      align-items: center;
    }
    .footerNav {
      nav {
        flex-direction: column;
        align-items: center;
        ul {
          width: 100%;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }
  }

  //slideout nav
  .slideOutNav {
    width: 100%;
    .mainMenu {
      a {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  // contact page
  .mapForm .wrapper {
    flex-direction: column;
    align-items: center;
    .mapContainer {
      width: 85%;
      margin-bottom: 50px;
    }
  }
  .formContainer {
    width: 85%;
    .contactForm {
      margin-left: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
