// products section
.productsMainContent {
  h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 1.5rem;
  }

  section {
    padding: 75px 0;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    li {
      text-align: center;
      flex-basis: calc((100% / 3) - 30px);
      margin: 5px 15px;
    }
    img {
      border-radius: 10px;
    }
  }

  .popularProduct {
    font-weight: bold;
  }

  .discountedPrice {
    text-decoration: line-through;
    color: rgba($color: $primary, $alpha: 0.5);
    span {
      display: inline-block;
      text-decoration: none;
      color: rgba($color: $primary, $alpha: 1);
      margin-left: 10px;
    }
  }
}

// customer guarantees section

// creating the waves effect
.guarantees {
  background-color: $quinary;
  position: relative;
  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.6rem;
    margin: 0;
  }

  p {
    font-size: 0.5rem;
    line-height: 1rem;
  }

  &::before {
    content: "";
    background-image: url("../assets/wave-3.svg");
    background-color: $quinary;
    background-position: top center;
    background-size: 1500px 60px;
    background-repeat: repeat;
    position: absolute;
    height: 3rem;
    left: 0;
    right: 0;
    top: -60px;
  }

  // text + images section
  ul {
    display: flex;
    li {
      margin: 0 20px;
      width: calc(25% - 40px);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: 50px;
      }
    }
  }
}
